<div class="container">
  <form (submit) = "addRide()">
    <div>
      <label>totalSeats:</label>
      <input type="number" [(ngModel)] = "totalSeats" name = "totalSeats">
    </div>
    <div>
      <label>Time:</label>
      <input type="datetime-local" [(ngModel)] = "time" name = "time">
    </div>
    <div>
      <label>Source:</label>
      <input type="text" [(ngModel)] = "src" name = "src">
    </div>
    <div>
      <label>Destination:</label>
      <input type="text" [(ngModel)] = "dest" name = "dest">
    </div>
    <div>
      <label>Paid:</label>
      <input type="checkbox" [(ngModel)] = "paid" name = "paid">
    </div>
    <div>
      <label>Amount:</label>
      <input type="number" [(ngModel)] = "amount" name = "amount">
    </div>
    <input type="submit" value="Add">
  </form>
</div>

<div class="container">
  <div *ngFor = "let ride of rides">
    <div>
      {{ ride.user }}
    </div>
    <div>
      {{ ride.time }}
    </div>
    <div>
      {{ ride.src }}
    </div>
    <div>
      {{ ride.dest }}
    </div>
    <form (submit) = "addPool()">
      <div hidden>
        <label>
          Ride:
        </label>
        <input type="number" [(ngModel)] = "pride" name = "pride" value = "{{ ride._id }}">
      </div>
      <div>
        <label>
          Required Seats:
        </label>
        <input type="number" [(ngModel)] = "bookedSeats" name = "bookedSeats">
      </div>
      <input type="submit" value="Book">
    </form>
    <hr />
  </div>
</div>